/* class utilities */
.pt-35{
    padding-top: 35px;
};
.pb-35{
    padding-bottom: 35px;
};

@mixin blackButton {
    background-color: black;
    color: white;
    border: white 1px solid;
    padding: 7px;
    font-size: 7px;
}